body {
    font-family: 'Roboto', sans-serif;
}

.violet-gradient {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: 700px;
    background: rgb(0,105,173);
    background: linear-gradient(#00d4ff, #304a6b);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 66% 100%, 28% 93%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 90%, 66% 100%, 28% 93%, 0 100%);
    /* border-color: #000 transparent transparent transparent;
    border-radius: 0 0 50%/100px 100px; */
}

.svg__bg {
    background-image: url(/images/Large-Triangles.svg?780d71a87f58cf235b023f7781d4514b);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100vh;
}

.active {
    border-bottom: solid 3px #fff!important;
}

.home-svg {
    background-image: url(/images/study.svg?086e1409e9e5cf67377e163a7ae10f6c);
    background-repeat:no-repeat;
    background-size: contain;
    background-position: center center;
    height: 500px; 
    width: 100%;
}

@media screen and (min-width: 500px) and (max-width: 960px) {
    .home-svg {
        height: 300px; 
        width: 100%;
        background-position: center top;
    }
    .header__bg {
        height: 700px;
    }
}